@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Disable text selection */
.notebook-handle,
.note-handle {
  cursor: move;
  user-select: none;
}

/* using this to make text not selectable/copy-able, looks better */
.unselectable {
  user-select: none;
}

/* Modal overlay */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}